/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #32012f; /* Primary Color */
    background-color: #524c42; /* Secondary Color */
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e2dfd0; /* Accent Color */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Box shadow for container */
}

header {
    background-color: #32012f; /* Primary Color */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e2dfd0; /* Accent Color */
}

section {
    padding: 40px 0;
    background-color: #fff; /* White background for sections */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #32012f; /* Primary Color */
    text-align: center;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.portfolio-item {
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #32012f; /* Primary Color */
    color: #fff;
}

@media (max-width: 768px) {
    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
